body{font-size:16px;
	font-family:sans-serif; 
	background: black;
	color:white;
	
}


*{box-sizing: border-box;}

header{
	background-color: #2F4F4F;
	margin:-20px -8px -8px -8px;
}

h1,h2,h3,p{text-align: center;}

p{
	font-style: italic;
	font-size: 1.1rem;
	}

img{width: 100%;
 }

#header-img{border-radius: 50%;
height: initial;
width: initial;
float: left;

}


ul{padding-left: 10px;
		background: #333;
font-size:1.2rem;
overflow: hidden;

}


li { float: left;
	list-style: none;
	padding: 10px;
	}

a{text-decoration: none;
	color: inherit;}

form{
	text-align: center;

}

label{font-size: 1.2rem;
	padding-right: 2px;
	}

#name,#email{margin-bottom: 10px;
}

input{border: 2px solid white;
border-radius: 2px;
}

button{background-color: orange;
	height: 30px;
	width: 70px;
	border:1px solid black;
	font-size: 1.1rem;

}



#video{
	display: block;
	margin: 10px auto 10px auto;
	width:300px; 
	height:250px;

}


#movies,#web-series{display: flex;
flex-wrap:wrap;
justify-content: space-around;
color: white;
margin-top: 10px;
margin-bottom: 10px;
}

#resposive {max-width: 100%;
 flex:100%; }


 @media (min-width: 420px) {
#resposive{flex:49%;
	max-width: 49%;}
}

@media (min-width:806px){
	#resposive{flex:24%;
		max-width: 24%;
	}
}


h2{
	background-color: #2F4F4F;
	width: 100%;
	margin-top: 15px;
}

#movies a,#web-series a{font-size: 1.1rem;
	text-decoration:underline;
	text-align: center;
	display: block;
	color: orange;
}






